* text=auto !eol
/README.md -text
/colresize.xml -text
front/user.form.php -text
/hook.php -text
inc/user.class.php -text
js/colresize.js -text
lib/jquery-ui/AUTHORS.txt -text
lib/jquery-ui/LICENSE.txt -text
lib/jquery-ui/external/jquery/jquery.js -text
lib/jquery-ui/images/ui-icons_444444_256x240.png -text
lib/jquery-ui/images/ui-icons_555555_256x240.png -text
lib/jquery-ui/images/ui-icons_777620_256x240.png -text
lib/jquery-ui/images/ui-icons_777777_256x240.png -text
lib/jquery-ui/images/ui-icons_cc0000_256x240.png -text
lib/jquery-ui/images/ui-icons_ffffff_256x240.png -text
lib/jquery-ui/index.html -text
lib/jquery-ui/jquery-ui.css -text
lib/jquery-ui/jquery-ui.js -text
lib/jquery-ui/jquery-ui.min.css -text
lib/jquery-ui/jquery-ui.min.js -text
lib/jquery-ui/jquery-ui.structure.css -text
lib/jquery-ui/jquery-ui.structure.min.css -text
lib/jquery-ui/jquery-ui.theme.css -text
lib/jquery-ui/jquery-ui.theme.min.css -text
lib/jquery-ui/package.json -text
locales/en_GB.php -text
locales/fr_FR.php -text
/plugin.png -text
/setup.php -text
